.no1{background-color: cadetblue; color: aliceblue;}
.no2{background-color: bisque;color: darkblue;}
.no3{background-color: darkgoldenrod;color: darkred;}
.no4{background-color: darkslategray;color:cyan;}
.no5{background-color: darkturquoise;color: crimson;}
h1{color:darkblue !important}
#cool{border-style:dashed;}